
@import "sizing.scss";


.form{
    width: ratio-from(600px);
    background-color: #393939;
    margin: 0 auto;
    border-radius: ratio-from(20px);
    padding: ratio-from(40px);
    color: white;

    display: flex;
    flex-direction: column;
    gap: ratio-from(20px);
    align-items: center;

    box-shadow: 0 ratio-from(5px) ratio-from(15px) rgba(0, 0, 0, 0.369);


    .line{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


}

.form.login{
    width: ratio-from(500px);
}
.form.reset{
    width: ratio-from(450px);
    .line{
        justify-content: center;
    }
}

.spacer-before{
    flex-grow: 1;
}

.spacer-after{
    flex-grow: 2;
}