
@use "loading.scss";
@use "calendar.scss";
@use "header.scss";
@use "error.scss";
@use "form.scss";
@use "admin.scss";
@import "sizing.scss";

body, html{
    margin: 0;
    padding: 0;
    background-color: #d6d6d6;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    font-family: "Quicksand", sans-serif;
    font-size: ratio-from(25px);
}

.line{
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: ratio-from(20px);
}

.hidden{
    display: none !important;
}


h1, .h1{
    font-size: ratio-from(70px);
    margin: ratio-from(20px) 0;
    font-weight: bold;
}
h2{
    font-size: ratio-from(50px);
    margin: ratio-from(10px) 0;
}
h3{
    font-size: ratio-from(35px);
    margin: ratio-from(5px) 0;
}

span, div{
    font-size: inherit;
}


ul{
    margin: 0;
}

a{
    // cursor
    cursor: pointer;
}

input[type=text], input[type=password]{
    border: solid ratio-from(2px) rgb(69, 103, 126);
    border-radius: ratio-from(5px);
}

// change chrome focus
input[type=text]:focus, input[type=password]:focus{
    outline: none;
    border: solid ratio-from(2px) rgb(52, 152, 219);
}

.btn{
    display: inline-block;
    padding: ratio-from(10px);
    border-radius: ratio-from(5px);
    background-color: rgb(0, 0, 0);
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;

    &:hover{
        background-color: rgb(50, 50, 50);
    }
}
.btn.material-symbols-outlined{
    padding: ratio-from(5px);
    font-weight: normal;
}

.btn.valid{
    background-color: rgb(123, 206, 158);
}
.form .btn.valid{
    background-color: rgb(2, 124, 67);
    color: white;
}
.btn.edit{
    background-color: rgb(240, 207, 75);
}
.form .btn.edit{
    background-color: rgb(209, 126, 17);
    color: white;
}
.btn.delete{
    background-color: rgb(231, 129, 129);
}

.material-symbols-outlined {
    font-size: ratio-from(30px) !important;
}

.icon{
    width: ratio-from(70px);
    height: ratio-from(70px);
}


a{
    color: inherit;
    text-decoration: underline;
}